@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto";
}

section {
  padding: 0 24px;
}

.row {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

/* SPLASH */

#splash {
  background-image: url(./assets/splash2.webp);
  background-size: cover;
  background-position: center;
  background-color: #f5f5f5;
  height: 100vh;
}

.nav {
  padding-top: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.rankd__logo--container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rankd__logo {
  width: 200px;
}

.nav__links--container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.nav__links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
}

.nav__link {
  width: 150px;
}

.nav__link--text {
  text-decoration: none;
  color: white;
}

.app-store {
  margin-right: 24px;
}

.store-button {
  max-width: 100%;
  cursor: pointer;
}

.header--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30vh;
}

.splash--title {
  width: 100%;
  margin-top: 16px;
  font-size: 48px;
  line-height: 1.5em;
  color: #faf9f6;
  text-align: center;
}

.splash--sub-title {
  font-size: 20px;
  font-weight: 400;
  color: powderblue;
  text-align: center;
}

/* MEMBERSHIPS */

#memberships {
  padding-top: 80px;
  background-color: #f5f5f5;
}

.memberships--container {
  display: flex;
  flex-direction: row;
}

.memberships__info--container {
  color: #242424;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.memberships__title--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 16px;
}

.memberships__title {
  font-size: 48px;
  text-align: center;
  font-weight: 700;
}

.memberships__sub-title {
  font-size: 16px;
  text-align: center;
  line-height: 1.5em;
  font-weight: 400;
  margin-top: 0.5em;
}

.memberships__info--blocks {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}

.memberships__info--block--column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.memberships__info--block {
  padding: 1em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.memberships__info--block--icon {
  font-size: 80px;
  margin-bottom: 0.2em;
}

.memberships__info--block--title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 1em;
}

.memberships__info--block--para {
  font-size: 14px;
  font-weight: 400;
  max-width: 300px;
  line-height: 1.5em;
}

.memberships__screenshot {
  height: 600px;
}

/* REVIEWS */

#reviews {
  background-color: #f5f5f5;
  padding-top: 80px;
}

.reviews--container {
  display: flex;
  flex-direction: column;
  color: #242424;
}

.reviews--nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.reviews__title {
  font-size: 28px;
  font-weight: 600;
}

.reviews__sub-title {
  margin-top: 16px;
  color: gray;
  font-weight: 500;
}

.users {
  display: flex;
  flex-direction: row;
  margin-top: 48px;
  justify-content: center;
  align-items: center;
}

.user {
  background-size: cover;
  background-position: 50% 50%;
  color: white;
  height: 500px;
  width: 33%;
  margin: 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.user-1 {
  background-image: url(./assets/review1.svg);
}

.user-2 {
  background-image: url(./assets/review2.svg);
}

.user-3 {
  background-image: url(./assets/review3.svg);
}

.user__review {
  width: 90%;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 16px;
  margin-bottom: 16px;
}

.fa-star {
  margin-right: 4px;
  color: #f5f5f5;
}

.user-name {
  margin-top: 12px;
  font-size: 24px;
  letter-spacing: 2px;
  font-weight: bold;
  color: #f5f5f5;
}

.user__review--para {
  margin-top: 16px;
  font-size: 16px;
  line-height: 1.5em;
  color: #f5f5f5;
}

/* MILESTONES */

#milestones {
  background-color: #f5f5f5;
  padding-top: 80px;
}

.milestones__title {
  font-size: 28px;
  font-weight: 600;
}

.milestones__sub-title {
  margin-top: 16px;
  color: gray;
  font-weight: 500;
}

.milestones__content--container {
  display: flex;
  flex-direction: row;
  margin-top: 48px;
  padding-bottom: 48px;
  justify-content: space-around;
  align-items: center;
}

.milestone {
  margin: 0 16px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.milestone__header {
  font-size: 40px;
  font-weight: bold;
}

.milestone__para {
  font-size: 24px;
  margin-top: 24px;
  text-align: center;
}

.wreath {
  height: 150px;
  position: absolute;
  opacity: 0.5;
}

.wreath-1 {
  left: -56px;
}

.wreath-2 {
  rotate: 285deg;
  bottom: -100px;
}

.wreath-3 {
  transform: scaleX(-1);
  right: -48px;
}
/* CONTACT */

#contact {
  background-color: #f5f5f5;
  padding: 80px 0;
}

.contact--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.contact__img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.contact__title {
  font-size: 18px;
  letter-spacing: 1px;
  margin-top: 24px;
  font-weight: bold;
}

.contact__para {
  font-size: 16px;
  max-width: 90%;
  color: gray;
  margin-top: 16px;
  margin-bottom: 40px;
  text-align: center;
}

.contact__button {
  margin-top: 24px;
  height: 40px;
  width: 100%;
  border-radius: 8px;
  background-color: #242424;
  color: white;
  border: none;
  cursor: pointer;
}

.form__item {
  margin-bottom: 20px;
}

input,
textarea {
  width: 100%;
  background-color: #f5f5f5;
  color: #242424;
  outline: none;
  border: 2px solid #242424;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 40px;
  transition: all 300ms ease;
  -webkit-border-radius: 0;
}

.modal__overlay {
  position: absolute;
  top: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.modal__overlay--loading {
  font-size: 80px;
  transform: translateX(-40px);
  display: none;
}

.modal__overlay--success {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  transform: translateX(-650px);
  display: none;
}

.element__invisible {
  display: none;
}

.element__visible {
  display: contents;
}

.fa-spinner {
  animation: spinner 750ms infinite linear;
}

@keyframes spinner {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* FOOTER */

#footer {
  background-color: #242424;
}

.footer--container {
  padding: 24px 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer__logos--container {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__logos__text {
  color: gray;
  margin-top: 16px;
}

.footer__links {
  margin-top: 16px;
}

.footer__trademark {
  color: gray;
  margin-top: 16px;
  text-align: center;
}

.sponsors__title {
  color: gray;
}

/* Small phones, tablets, large smart phones */

@media (max-width: 900px) {
  .memberships__screenshot--container {
    display: none;
  }
  .memberships__info--container {
    width: 100%;
  }
  .nav__links--container {
    flex-direction: column;
  }
  .app-store {
    margin: 0;
  }
  .users,
  .milestones__content--container {
    flex-direction: column;
  }
  .user {
    margin-top: 48px;
    width: 100%;
  }
  .milestone {
    margin-top: 56px;
  }
  .wreath-2 {
    transform: scaleX(-1);
    right: -48px;
    rotate: 0deg;
    bottom: -24px;
  }

  .wreath-3 {
    left: -48px;
    transform: scaleX(1);
  }
  .footer--container {
    flex-direction: column;
    align-items: center;
  }
  .sponsors__title {
    margin-top: 24px;
  }
  @media (max-width: 500px) {
    .rankd__logo {
      width: 100px;
    }
    .memberships__info--blocks {
      flex-direction: column;
    }
    .memberships__info--block--column {
      width: 100%;
    }
    .reviews__stores--container {
      display: none;
    }
    .reviews__title,
    .memberships__title,
    .milestones__title {
      font-size: 24px;
    }
    .splash--title {
      font-size: 32px;
    }
    .memberships__title--container {
      padding: 0;
    }
    .racquet-guys--logo {
      width: 200px;
    }
  }
}
